<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- These arguments load the electric grippers, for example left_electric_gripper:=true  -->
  <arg name="left_electric_gripper" default="false"/>
  <arg name="right_electric_gripper" default="false"/> 

  <!-- Load the software version into the ROS Parameter Server -->
  <param name="rethink/software_version" value="1.2.0" />

  <!-- Publish a static transform between the world and the base of the robot -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_world" args="0 0 0 0 0 0 1 world base" />

  <!-- ros_control baxter launch file -->
  <include file="$(find baxter_sim_hardware)/launch/baxter_sdk_control.launch">
      <arg name="right_electric_gripper" value="$(arg right_electric_gripper)"/>
      <arg name="left_electric_gripper" value="$(arg left_electric_gripper)"/>
      <arg name="gui" value="false" />
  </include>  

</launch>
